.head{
    margin-top:10px;
    height: 25px;
    display: flex;
    justify-content: center;
}

.headDiv{
    display: flex;
    height: 100%;
}

.headDiv div{
    text-align: center;
    display: flex;
    vertical-align: middle;
    align-items : center;
    height: 100%;
    margin-right: 5px;
}

.head button{
    border: 0;
    margin-left:5px;
    background-color:#611DF2;
    color:#ffffff;
}

@media print{
    .head{display:none;}
}